@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    color: #1D0D14;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p {
    color: #2D282A;
}

a {
    color: rgb(107, 85, 93);
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.active {
    color: #1D0D14;
}

h1 {
    font-size: 4.75rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
    line-height: 1.56;
    font-family: 'Roboto', sans-serif;
}